* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* background-color: #fefcfb; */
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

form {
  width: 90%;
  margin: auto;
}

.form-layout {
  margin: 20px auto;
  background: transparent;
  box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 1px solid gray;
  padding: 20px 20px;
}
.form-layout * {
  margin: 10px 0;
}
label {
  font-weight: bold;
}

input {
  border-style: none;
  outline: none;
  padding-bottom: 5px;
  text-transform: capitalize;
  width: 100%;
  margin-top: 10px;
  transition: border-bottom 0.4s ease-in-out;
}

input:focus {
  border-bottom: 3px solid #0fb5cb;
}
select {
  width: 100%;
  background-color: #fefcfb;
  transition: background-color 0.4s ease-in-out;
}
select:focus {
  background-color: #0fb5cb;
}

h1 {
  font-size: 25px;
}
.required {
  color: red;
  font-weight: bold;
}

.btn {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #0fb5cb;
  border-style: none;
  transition: all 0.4s ease-in-out;
  font-weight: bold;
}
.btn-close {
  outline: transparent;
  padding: 5px;
}

/* Table */

#table {
  border: 1px solid #ddd;
  padding: 8px;
  margin: auto;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 50px;
  visibility: hidden;
}
#table tr {
  border-radius: 10px;
}
#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0fb5cb;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.visible {
  visibility: visible;
}

.close {
  color: red;
}

/* Media Quarry */

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: auto;
  }
}
